/* font family added  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap&family=Roboto:wght@300;400;500;700;900&display=swap");

.raleway {
  font-family: "Raleway", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
  /* font-family: "Raleway", sans-serif; */
}

/* Main container  */
.main_container {
  width: 100%;
  max-width: 90rem;
  margin: auto;
}
/* For Mobile Portrait View */
@media screen and (max-device-width: 576px) and (orientation: portrait) {
  .main_container {
    width: 100%;
    max-width: 90rem;
    margin: auto;
  }
}
.brand_pri {
  color: #2042b6;
}
.bg_pri {
  background: #2042b6;
}

.black_pri {
  color: #03071299;
}
.black_sec {
  color: #03071299;
}
.black_third {
  color: #647888;
}
/* =================> Hero section related styles ======================
===========================================================================> */
.hero_section {
  background: #2042b6;
  height: 100vh;
}
.filter_banner {
  filter: invert(39%) sepia(10%) saturate(749%) hue-rotate(305deg)
    brightness(96%) contrast(90%);
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
.legend-color {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
}
.chart-container {
  position: relative;
  width: 80%; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  margin: auto;
}

#myLineChart {
  display: block;
  width: 100%;
  height: 100%;
}